.player {
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 50px 0;
    // margin-bottom: 400px;
}

.time-control {
    // min-height: 5vh;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
        padding: 0.2rem 0.5rem;
    }
}

.play-controls {
    align-self: center;
    min-height: 5vh;
    width: 35%;
    margin: 0rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    svg {
        cursor: pointer;
    }
}

input[type="range"]:focus{
    outline: none;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    outline: none;
    border: none;
    background: #d5c0ff;
    // background-color: #d31212;
    z-index: 5000;
}

.track {
    width: 90%;
    // height: 0.1rem;
    position: relative;
    // overflow: hidden;
    // overflow-x: hidden;
    overflow-y: visible;
    display: flex;

    input {
        width: 100%;
        height: 5px;
        -webkit-appearance: none;
        cursor: pointer;
    }
}

.animate-track {
    background-color: #d5c0ff !important;
    height: 100%;
    pointer-events: none;
    // transform: translateY(25%);
    
}

@media screen and (max-width: 600px) {
    .time-control {
        width: 90%;
    }
    .play-controls {
        width: 70%;
    }
}