.songs-library {
    direction: rtl;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    height: 100vh;
    min-width: 300px;
    width: $libraryWidth;
    box-shadow: 2px 2px 15px #333;
    overflow: scroll;
    // background-color: #f4f4f4;
    background-color: #232533;
    transform: translateX(0%);
    opacity: 0;
    transition: all 1000ms 50ms ease;
}

.library-song-card {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    cursor: pointer;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &:hover {
        background: #5d4c80; 
        h3, h4 {
            color: #111;
        }
        .card-artwork {
            img {
                animation: pop 500ms ease-in 100ms 1;
            }
        }
    }
}

.selected{
    background: #5d4c80; 
    color: whitesmoke !important;
    h3, h4 {
        color: whitesmoke;
    }
}


@keyframes pop {
    0% { transform: scale(1); }
    65% { transform: scale(1.05); }
    80% { transform: scale(1.025); }
    100% { transform: scale(1.00125); }
}

.card-artwork {
    height: 100%;
    width: 30%;
}

.card-song-details {
    width: 70%;
    h3 {
        padding: 0px 10px;
        font-size: .9rem; 
    }
    h4 {
        padding: 0px 10px;
        font-size: .6rem; 
    }
}

*{
    scrollbar-width: thin;
    scrollbar-color: #5d4c80 transparent;
}

.open-lib {
    transform: translateX(0%);
    opacity: 1;
}

@media (max-width: 700px){
    .library-song-card{
        align-items: flex-start;
    }
}

@media screen and (max-width: 600px) {
    .songs-library {
        direction: ltr;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .library-song-card {
        width: 90%;
        img {
            height: 100%;
            width: 100%;
            object-fit: scale-down;
        }
    }
}