$textColor: rgb(92, 91, 95);
$libraryWidth: 10vw;

@import "./player";
@import "./song";
@import "./songsLibrary";
@import "./nav";
@import "./Themes";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    // background: #F4F4F4;
}

h3 {
    color:$textColor;
}

h2 {
    color:$textColor;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #232533;
}

h3 {
    font-weight: 700;
}
h4 {
    font-weight: 700;
    color: $textColor;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
    height: 100vh;
    margin-right: 0;
    transition: margin 500ms 10ms ease;
}

.library-active {
    margin-right: $libraryWidth;
}